<template>
  <div class="myFinca">
    <Menu />
    <div class="fincazas">
      <h1>Selecciona la Finca</h1>
      <section class="myFilters">
        <div id="Filter-1">
          <select name="" id="">
            <option value="">uno</option>
            <option value="">dos</option>
            <option value="">tres</option>
          </select>
        </div>
        <div id="Filter-2">
          <select name="" id="">
            <option value="">dos</option>
            <option value="">dos</option>
            <option value="">tres</option>
          </select>
        </div>
        <div id="Filter-3">
          <select name="" id="">
            <option value="">tres</option>
            <option value="">dos</option>
            <option value="">tres</option>
          </select>
        </div>
      </section>
      <hr>
      <section class="myCards">
        <div>
          <Card />
        </div>
        <hr>
      </section>
    </div>
  </div>
</template>

<script>
import Menu from "../components/Menu.vue";
import Card from "../components/Card.vue";

export default {
  name: "Finca",
  components: {
    Menu,
    Card,
  },
  methods: {
    hidenav: () => {
      let myPath = window.location.pathname.split("/")[1].toLowerCase();
      if (myPath !== "loginagricultor" || myPath !== "logincliente") {
        $("#nav").show();
        $(".footer").show();
      }
    },
  },
  created: function () {
    this.hidenav();
  },
};
</script>

<style scoped>
.myFinca {
  display: flex;
  justify-content: space-between;
}

.myFilters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myFilters div select {
  width: 250px;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #34495e;
}

.fincazas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.fincazas h1 {
  margin-top: 50px;
  margin-left: 8%;
  color: #34495e;
}

.myCards {
  margin-bottom: 50px;
}

.myCards div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
</style>