<template>
  <div class="myHome">
    <div class="myCollage">
      <h1>Del campo a tus manos</h1>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../assets/img-01.jpeg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img-02.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img-03.jpg" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../assets/img-04.jpg" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="mylogins">
      <section class="">
        <div>
          <img src="../assets/agricultor-img.jpg" alt="">
        </div>
        <router-link to="/loginAgricultor">Soy Agricultor</router-link>
      </section>
      <section class="myClient">
        <div>
          <img src="../assets/cliente-img.jpg" alt="">
        </div>
        <router-link to="/loginCliente">Soy Cliente</router-link>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    hidenav: () => {
      let myPath = window.location.pathname.split("/")[1].toLowerCase();
      if (myPath !== "loginagricultor" || myPath !== "logincliente") {
        $("#nav").show();
        $(".footer").show();
      }
    },
  },
  created: function () {
    this.hidenav();
  },
}
</script>

<style scoped>
.myHome {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.myCollage h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #34495e;
}

#carouselExampleFade {
  width: 800px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px #333333;
}

.carousel-inner div img {
  width: 100%;
}

.mylogins img {
  width: 250px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 0px #333333;
}

.mylogins section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mylogins a {
  background: #bdc3c7;
  color: #34495e;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  position: relative;
  bottom: 55px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #34495e;
}

.mylogins a:hover {
  color: #bdc3c7;
  background: #34495e;
  border: 2px solid #bdc3c7;
  transition: all .3s ease;
}

.myClient {
  margin-top: -40px;
}
</style>