<template>
  <div class="myBg">
    <div class="main-section">
      <div class="modal-content">
        <div class="user-img">
          <img src="../assets/icon_login.svg" />
        </div>
        <!--<form class="col-12" th:action="@{/login}" method="get">-->
        <form
          class=""
          v-on:submit.prevent="processLogInUser"
          autocomplete="off"
        >
          <div class="form-group" id="user-group">
            <div>
              <i class="fas fa-user"></i>
            </div>
            <input
              id="myUser"
              type="text"
              class="form-control"
              v-model="cliente.username"
              placeholder="Usuario del Cliente"
              name="username"
            />
          </div>
          <div class="form-group">
            <div>
              <i class="fas fa-lock"></i>
            </div>
            <input
              id="myPass"
              type="password"
              class="form-control"
              v-model="cliente.password"
              placeholder="Contraseña"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-success">
            <i class="fas fa-sign-in-alt"></i> Ingresar
          </button>
        </form>
        <div class="col-12 forgot">
          <router-link to="/" class="nav-link active"
            >No tienes una cuenta registrate aqui</router-link
          >
        </div>
        <div
          th:if="${param.error}"
          v-if="msgWrongPass"
          class="alert alert-danger"
          role="alert"
        >
          Credenciales incorrectas.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginCliente",
  data: () => {
    return {
      cliente: {
        username: "",
        password: "",
      },
      msgWrongPass: false,
    };
  },
  components: {},
  methods: {
    hidenav: () => {
      let myPath = window.location.pathname.split("/")[1].toLowerCase();
      if (myPath === "loginagricultor" || myPath === "logincliente") {
        $("#nav").hide();
        $(".footer").hide();
      }
    },
  },
  created: function () {
    this.hidenav();
  },
};
</script>

<style scoped>
.myBg {
  background-image: url("../assets/background-img02.jpg");
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.main-section {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}

.modal-content {
  background: rgba(52, 73, 94, .8);
  padding: 0 56px;
  box-shadow: 0px 0px 3px #848484;
  width: 400px;
  box-shadow: 0px 0px 5px 2px #333333;
}

.user-img {
  margin-top: -50px;
  margin-bottom: 35px;
}

.user-img img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}

.form-group input {
  height: 42px;
  font-size: 18px;
  border: 0;
  padding: 25px;
  padding-left: 60px;
  border-radius: 5px;
  color: #34495e;
  margin-bottom: 25px;
}

.form-group div {
  background: #30c530;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #ffffff;
}

button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #30c530;
}

.forgot {
  padding: 5px 0;
}

.forgot a {
  font-size: 15px;
  font-style: italic;
  color: white;
}

.forgot a:hover {
  color: #b8bdbd;
}
</style>
