<template>
  <div class="mySelectProduct">
    <Menu />
    <section class="myList">
      <section>
        <img src="../assets/logo.png" alt="">
        <div>
          <h1>Nombre Finca</h1>
          <p>Descripción 1</p>
          <p>Descripción 2</p>
        </div>
      </section>
      <hr>
      <table class="table table-striped">
        <thead>
          <th>uno</th>
          <th>dos</th>
          <th>tres</th>
        </thead>
        <tbody>
          <tr>
            <td>unito</td>
            <td>dosito</td>
            <td>tresito</td>
          </tr>
          <tr>
            <td>unito</td>
            <td>dosito</td>
            <td>tresito</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </section>
  </div>
</template>

<script>
import Menu from "../components/Menu.vue";

export default {
  name: "SelectProduct",
  components: {
    Menu,
  },
  methods: {
    hidenav: () => {
      let myPath = window.location.pathname.split("/")[1].toLowerCase();
      if (myPath !== "loginagricultor" || myPath !== "logincliente") {
        $("#nav").show();
        $(".footer").show();
      }
    },
  },
  created: function () {
    this.hidenav();
  },
};
</script>

<style>
.mySelectProduct {
  display: flex;
  justify-content: space-between;
}

.myList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 300px;
}

.myList section {
  display: flex;
  margin-bottom: 20px;
}

.myList section div {
  margin-left: 20px;
}

.myList section div p {
  margin: 0;
}

.myList img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 55px;
}

.myList h1 {
  margin-top: 50px;
}
</style>