<template>
  <div class="myMenu">
    <router-link to="/finca"><i class="fas fa-home"></i>&nbsp;&nbsp;Fincas</router-link>
    <router-link to="/selectProduct"><i class="fas fa-boxes"></i>&nbsp;&nbsp;Seleccionar Productos</router-link>
    <router-link to="/report"><i class="fas fa-file-invoice"></i>&nbsp;&nbsp;Reporte</router-link>
  </div>
</template>

<script>
export default {
  name: 'Menu',
}
</script>

<style scoped>
.myMenu {
  box-shadow: 2px 2px 5px 0px #34495e;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20%;
}

.myMenu a {
  text-decoration: none;
  color: #34495e;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}

.myMenu a:hover {
  background: rgba(48, 197, 48, .5);
  transition: all .3s ease;
}
</style>